[global]
pid = /usr/local/php/var/run/php-fpm.pid
error_log = /usr/local/php/var/log/php-fpm.log
log_level = notice

emergency_restart_threshold = 10
emergency_restart_interval = 1m

process_control_timeout = 5s
daemonize = yes

rlimit_files = 10240
rlimit_core = 0

[www]
listen = 127.0.0.1:9000
listen.backlog = -1
listen.allowed_clients = 127.0.0.1
listen.owner = www
listen.group = www
;listen.mode = 0666

user = www
group = www

pm = dynamic
pm.max_children = 80
pm.start_servers = 20
pm.min_spare_servers = 20
pm.max_spare_servers = 80
pm.max_requests = 500

access.log = /usr/local/php/logs/access.log
access.format = %R - %u %t "%m %r%Q%q" %s %f %{mili}d %{kilo}M %C%%

request_terminate_timeout = 0
request_slowlog_timeout = 0

slowlog = /disk/logs/php/slow.log

rlimit_files = 10240
rlimit_core = 0
chroot = no 
;chdir = /var/www
catch_workers_output = yes

